@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a0a;
  color: white;
  font-family: sans-serif;
}


/* BOTÕES */
.button-geral {
  margin: 20px;
  padding: 12px 25px;
  font-family: 'Comic Sans MS', 'Indie Flower', 'Chalkboard SE', cursive; 
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  
  border: 4px solid #0a0a0a;
  
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-geral:hover {
  background: #ffffff; 
  animation: pulinho 0.4s ease-in-out;
  transform: scale(1.05);
}

/* Animação do pulinho */
@keyframes pulinho {
  0% { transform: scale(1.05) translateY(0); }
  50% { transform: scale(1.1) translateY(-8px); }
  100% { transform: scale(1.05) translateY(0); }
}

/* BOTÃO PRINCIPAL */
.btn-navegar {
  font-size: 1.2rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}


/* .editor input {
  width: 60px;
  margin: 0 5px;
  background: #161b22;
  border: 1px solid #30363d;
  color: #ff5858;
  text-align: center;
} */ 

/* SOM */
.btn-audio {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;

  padding: 8px 12px;
  border: none;
  border-radius: 8px;

  background: rgba(0,0,0,0.6);
  color: white;
  cursor: pointer;
}