* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a0a;
  color: white;
  font-family: sans-serif;
}


/* BOTÕES */
.button-geral {
  margin: 20px;
  padding: 12px 25px;
  background: #eda200;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.button-geral:hover {
  background: #c07900;
  transform: scale(1.05);
} 

/* BOTÃO PRINCIPAL */
.btn-navegar {
  font-size: 1.2rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}


/* .editor input {
  width: 60px;
  margin: 0 5px;
  background: #161b22;
  border: 1px solid #30363d;
  color: #ff5858;
  text-align: center;
} */ 

/* SOM */
.btn-audio {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;

  padding: 8px 12px;
  border: none;
  border-radius: 8px;

  background: rgba(0,0,0,0.6);
  color: white;
  cursor: pointer;
}